<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<style>
    body{
        background: #333;
        color: #ccc
    }
    #password{
        background: #333;
        color: #ccc
    }
</style>
<body>
    <h3>HiBooks</h3>
    <p>Please enter your new password below</p>
    <form method="POST" >
        <input type="text" name='userEmail' id="userEmail" value= "<%= userEmail %> " hidden>
        <label for='password'>Password</label>
        <input type="password" name="password" id="password" placeholder="enter your new password" required/>
        <div id="feedback"></div>
    </form>
    <button  id="submit">Submit</button>
    <script type="text/javascript">
        const userEmail = document.getElementById('userEmail');
        const password = document.getElementById('password');
        const feedback =  document.getElementById('feedback');
        const submitBtn = document.getElementById('submit');

        submitBtn.addEventListener('click', (e) => {
            e.preventDefault();
            fetch('http://localhost:8080/api/users/resetPassword', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userEmail: userEmail.value,
                    password: password.value
                })
            })
            .then(res =>{
                return res.json()
        })
        .then(data => {
            if(data.success){
                console.log(data.message)
                localStorage.userToken = data.token;
                feedback.innerHTML = data.message;
            }else
            console.log(data.message)
            feedback.innerHTML = data.message
        })
        .catch(err => console.log(err))

        e.preventDefault();
        });
    </script>
</body>
</html>